﻿<div class="jumbotron">
    <h1>Welcome To My Database</h1>
    <p class="lead">Feel free to test out my database by creating, edit, and delete records.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    
</div>
